# Dependencies
/bin
/obj

# User-specific files
*.user
*.suo

# Rider specific files
.idea/

# Secrets and environment files
.env
appsettings.Development.json
docker-compose.yml

# Logs
logs/
*.log

# Build results
[Bb]in/
[Oo]bj/

