{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=apexvision;Username=postgres;Password=YOUR_PASSWORD"
  },
  "Jwt": {
    "Key": "YOUR_SECRET_KEY_HERE_MUST_BE_AT_LEAST_32_CHARACTERS",
    "Issuer": "ApexVision",
    "Audience": "ApexVisionUsers",
    "ExpirationMinutes": 60
  },
  "Cloudinary": {
    "CloudName": "YOUR_CLOUD_NAME",
    "ApiKey": "YOUR_API_KEY",
    "ApiSecret": "YOUR_API_SECRET"
  },
  "AzureVision": {
    "Endpoint": "YOUR_AZURE_VISION_ENDPOINT",
    "Key": "YOUR_AZURE_VISION_KEY",
    "ValidTags": [ "box", "package", "parcel", "delivery", "gift", "envelope", "shipping", "cargo", "courier", "truck", "carton", "container" ]
  }
}
